@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Common Style */

html {
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
body {
  overflow: hidden !important;
}
a:focus {
  outline: none;
  box-shadow: none;
}
input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
input:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}
button:focus,
:focus-visible {
  outline: none;
  border: none;
}
/* Root*/
:root {
  --pear-can: #e6ffde;
  --pear-logo: #03403f;
  --apple-can: #f2675a;
  --apple-logo: #ec4458;
  --exotic-can: #9590f1;
  --exotic-logo: #6464ff;
  --pear-background: #c9e78a;
  --apple-background: #ffb2b2;
  --exotic-background: #c1bff2;
  --black-color: #000000;
  --white-color: #ffffff;
}

/* Typography */

h1 {
  font-family: "Lexend";
  font-size: 449px !important;
  line-height: normal !important;
  color: var(--white-color) !important;
  margin: 0 !important;
}

h2 {
  font-family: "Lexend";
  font-size: 40px;
  line-height: normal;
  margin: 0;
  font-weight: 900;
}

/* Header */

header {
  padding: 22px 28px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  text-align: center;
}


.logo {
  color: var(--pear-logo);
}

.h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Can Image and Wrapper Image */



.can-image {
  max-width: 265px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  mask-image: url(images/cane.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
  overflow: hidden;
}

.can-image img {
  width: 100%;
}

.canLabels {
  position: absolute;
  top: 0;
  left: 0;
  width: 300% !important;
  mix-blend-mode: multiply;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

/*Fruits Images */

.fruit-image {
  opacity: 1;
  position: absolute;
}

.image-one {
  max-width: 282px;
  bottom: 100px;
}

.image-two {
  max-width: 247px;
  top: 23%;
  left: 25%;
}

.image-three {
  max-width: 211px;
  top: 23%;
  right: 25%;
}

.image-four {
  max-width: 294px;
  bottom: 100px;
  right: 0;
}

/* After */

.fruit-image::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #000 3.66%, rgba(0, 0, 0, 0) 92.35%);
  width: 173px;
  height: 30px;
  opacity: 0.25;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  right: 0;
  transform: rotate(-6.941deg);
  -webkit-transform: rotate(-6.941deg);
  -moz-transform: rotate(-6.941deg);
  -ms-transform: rotate(-6.941deg);
  -o-transform: rotate(-6.941deg);
}

.image-one::after {
  bottom: -50px;
}

.image-two::after {
  bottom: -200px;
  height: 22px;
}

.image-three::after {
  bottom: -200px;
  width: 103px;
}

.image-four::after {
  bottom: -50px;
}

/*Section  */

.section-container-main {
  width: 100vw;
  position: relative;
  z-index: -1;
}

.section-container {
  width: 300vw;
  display: flex;
  position: relative;
  align-items: center;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.section {
  min-width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -1;
  background-color: var(--pear-background);
}

.section:nth-child(2) {
  background-color: var(--apple-background);
}

.section:nth-child(3) {
  background-color: var(--exotic-background);
}

/* Add this to your CSS */

/* Buttons */

button {
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 99;
  width: 80px;
  height: 80px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  font-size: 40px;
  color: var(--apple-logo);
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  cursor: pointer;
}

#prevButton {
  right: unset;
  left: 30px;
  transition: all ease-in 0.3;
  -webkit-transition: all ease-in 0.3;
  -moz-transition: all ease-in 0.3;
  -ms-transition: all ease-in 0.3;
  -o-transition: all ease-in 0.3;
  display: none;
}

.wave {
  animation: wave-apple-effect 4s linear infinite;
  -webkit-animation: wave-apple-effect 4s linear infinite;
  animation-direction: normal;
}

@keyframes wave-pear-effect {
  0% {
    box-shadow: 0 0 0 0px var(--pear-background),
      0 0 0 0px var(--pear-background);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--pear-background);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}

@keyframes wave-apple-effect {
  0% {
    box-shadow: 0 0 0 0px var(--apple-background),
      0 0 0 0px var(--apple-background);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--apple-background);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}

@keyframes wave-exotic-effect {
  0% {
    box-shadow: 0 0 0 0px var(--exotic-background),
      0 0 0 0px var(--exotic-background);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--exotic-background);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}

/*.......... Responsive.............. */
@media screen and (max-width: 575px) {
  h1 {
    font-size: 180px !important;
  }

  h2 {
    font-size: 30px;
  }

  .can-image::after {
    max-width: 180px;
  }

  button {
    height: 60px;
    width: 60px;
    font-size: 20px;
  }

  .image-one {
    max-width: 180px;
    bottom: 150px;
  }

  .image-two {
    max-width: 145px;
    left: 12%;
    top: 15%;
  }

  .image-three {
    max-width: 130px;
    right: 10%;
  }

  .image-four {
    max-width: 180px;
    bottom: 150px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 180px !important;
  }

  h2 {
    font-size: 30px;
  }

  .can-image::after {
    max-width: 180px;
  }

  button {
    height: 60px;
    width: 60px;
    font-size: 20px;
  }

  .image-one {
    max-width: 180px;
    bottom: 150px;
  }

  .image-two {
    max-width: 145px;
    left: 12%;
    top: 15%;
  }

  .image-three {
    max-width: 130px;
    right: 10%;
  }

  .image-four {
    max-width: 180px;
    bottom: 150px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 240px !important;
  }

  .can-image {
    max-width: 250px;
  }

  button {
    height: 80px;
    width: 80px;
    top: 90%;
  }

  .image-one {
    max-width: 180px;
  }

  .image-two {
    max-width: 165px;
    left: 12%;
    top: 12%;
  }

  .image-three {
    max-width: 150px;
    right: 12%;
  }

  .image-four {
    max-width: 200px;
  }
}

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 300px !important;
  }

  .can-image::after {
    width: 150%;
  }

  .image-one {
    max-width: 220px;
  }

  .image-two {
    max-width: 185px;
    left: 18%;
    top: 10%;
  }

  .image-three {
    max-width: 180px;
    right: 18%;
  }

  .image-four {
    max-width: 230px;
  }
}

@media screen and (max-width: 1550px) {
  h1 {
    font-size: 350px !important;
  }

  .can-image {
    max-width: 280px;
  }

  .image-one {
    max-width: 250px;
  }

  .image-two {
    max-width: 215px;
    left: 22%;
    top: 10%;
  }

  .image-three {
    max-width: 180px;
  }

  .image-four {
    max-width: 260px;
    right: 40px;
  }
}
